body
{
	background:#FFF;
	color:#000;
	font-family:GibsonRegular,Arial,Helvetica,sans-serif;
	font-size:80%;
}
body h1
{
	text-align:center;
}
table
{
	border:1px solid #aaa;
	border-top:0px;
	border-spacing:0px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	max-height:999999px;
}
table.container
{
	border:0px;
	border-spacing:0px;
	text-align:left;
	white-space:nowrap;
	width:100%;
}
table.container td
{
	padding:8px;
	vertical-align:top;
}
table.loglines
{
	border:1px solid #aaa;
	background:#eee;
	text-align:left;
	padding:0px;
	spacing:0px;
}
table.loglines td
{
	padding-top:2px;
	padding-bottom:2px;
}
div.sidebar button
{
	font-size:120%;
	width:100%;
	margin:3px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
}
table.proglist,table.patternlist,table.titlelist,table.channellist
{
	width:100%;
}
table.proglist,table.patternlist,table.patternlist th,table.channellist,table.channellist th
{
	background-color:#eee;
}
table.proglist td
{
	border-top:1px solid #aaa;
	padding:5px;
	font-size:120%;
	vertical-align:middle;
	width:1%;
}
table.patternlist th,table.patternlist td,table.titlelist td,table.channellist th,table.channellist td
{
	border-top:1px solid #aaa;
	padding:4px;
	font-size:120%;
	vertical-align:middle;
	width:1%;
}
table.patternlist select,table.patternlist input
{
	font-size:100%;
}
table.patternlist input
{
	width:100%;
}
table.proglist tr,table.patternlist tr,table.patternlist input,table.titlelist tr
{
	background-color:#eee;
}
table.proglist tr:hover,table.patternlist tr:hover,table.titlelist tr:hover
{
	background-color:#ddd;
}
table.patternlist tr.disabled
{
	background-color:#f88;
}
table.patternlist tr.disabled:hover
{
	background-color:#e77;
}
table.patternlist table.pattern td
{
	padding:1px;
	padding-left:2px;
	padding-right:2px;
	margin:0px;
	font-size:100%;
	vertical-align:middle;
}
table.proglist tr.recorded
{
	background-color:#99f;
}
table.proglist tr.recorded:hover
{
	background-color:#88e;
}
table.proglist tr.scheduled,table.patternlist tr.enabled
{
	background-color:#8f8;
}
table.channellist tr
{
	background-color:#beb;
}
table.channellist tr:hover
{
	background-color:#ada;
}
table.channellist tr.error
{
	background-color:#ebb;
}
table.channellist tr.error:hover
{
	background-color:#daa;
}
table.proglist tr.scheduled:hover,table.patternlist tr.enabled:hover
{
	background-color:#7e7;
}
table.proglist tr.recording
{
	background-color:#f8f;
}
table.proglist tr.recording:hover
{
	background-color:#e7e;
}
table.proglist tr.rejected
{
	background-color:#f88;
}
table.proglist tr.rejected:hover
{
	background-color:#e77;
}
table.proglist tr.failed
{
	background-color:#f66;
}
table.proglist tr.failed:hover
{
	background-color:#e55;
}
table.proglist tr.processing
{
	background-color:#f4f;
}
table.proglist tr.processing:hover
{
	background-color:#e3e;
}
table.proglist tr.film,table.titlelist tr.film
{
	background-color:#2ff;
}
table.proglist tr.film:hover,table.titlelist tr.film:hover
{
	background-color:#1ee;
}
table.patternlist tr.newrec
{
	background-color:#88f;
}
table.patternlist tr.newrec:hover
{
	background-color:#77e;
}
table.patternlist tr.error
{
	background-color:#ff2;
}
table.patternlist tr.error:hover
{
	background-color:#ee1;
}
table.proglist td.title
{
	text-align:left;
	width:100%;
	white-space:normal;
	word-wrap:break-word;
}
table.proglist td.desc
{
	border-top:1px;
	text-align:left;
	font-size:100%;
	white-space:pre-line;
	word-wrap:break-word;
}
table.patternlist td.desc,table.patternlist th.desc
{
	border-top:1px solid #aaa;
	font-size:120%;
	text-align:left;
	width:100%;
}
table.patternlist td.actions
{
	text-align:right;
	border-top:0px;
	padding:6px;
}
table.progsearch a.progsearch,table.users
{
	font-size:100%;
}
table.proglist a.addrecord,select.addrecord,button.addrecord,button.delrecord
{
	font-size:130%;
}
table.users th
{
	border-top:1px solid #aaa;
	background-color:#eee;
}
table.users td
{
	border-top:1px solid #aaa;
	padding:6px;
}
table.users tr.diskspacelevel0
{
	background-color:#f88;
}
table.users tr.diskspacelevel0:hover
{
	background-color:#e77;
}
table.users tr.diskspacelevel1
{
	background-color:#ff8;
}
table.users tr.diskspacelevel1:hover
{
	background-color:#ee7;
}
table.users tr.diskspacelevel2
{
	background-color:#8f8;
}
table.users tr.diskspacelevel2:hover
{
	background-color:#7e7;
}
div.filterlist button,div.filterlist select,div.filterlist a
{
	font-size:140%;
}
table.filter
{
	border:0px;
	spacing:0px;
}
table.filter td
{
	padding:2px;
	vertical-align:middle;
}
table.filter button
{
	width:100%;
	height:100%;
	padding-left:20px;
	padding-right:20px;
	font-size:100%;
}
table.filter select
{
	font-size:100%;
}
table.filter button.find
{
	font-size:140%;
}
div.finderrors,div.errormsg
{
	border:1px solid #f00;
	background-color:#f88;
	padding:8px;
	text-align:left;
	white-space:normal;
	word-wrap:break-word;
}
span.episodelist,a.episodelist
{
	font-family:courier new,monospace;
	font-size:110%;
}
table.patternterms
{
	border:1px solid #ddd;
	padding:0px;
	spacing:0px;
}
table.patternterms td
{
	padding:0px;
	spacing:0px;
	margin:0px;
	text-align: left;
	font-size:100%;
}
span.patternterms
{
	text-align:left;
	padding:0px;
	font-size:100%;
}
span.patternterm
{
	padding:1px;
	padding-left:4px;
	padding-right:4px;
	background-color:#aaa;
}
span.patternterm:hover
{
	padding:1px;
	padding-left:4px;
	padding-right:4px;
	background-color:#eee;
}
span.patternset
{
	padding:1px;
	padding-left:4px;
	padding-right:4px;
	background-color:#a88;
}
span.patternset:hover
{
	padding:1px;
	padding-left:4px;
	padding-right:4px;
	background-color:#eaa;
}
table.stats
{
	border:1px solid #aaa;
	padding:2px;
	border-spacing:0px;
	width:100%;
}
table.stats td
{
	text-align:centre;
	white-space:nowrap;
}
